#texto{
	border:1px solid blue;
	background:skyblue;
	padding:20px;
	font-size:24px;
	text-align:center;
	font-weight:bold;
	color:magenta;				
}

.sombra{
		box-shadow: 10px 10px 5px 0px rgba(0,0,0.75);		
}

#tabla{
	margin:auto;
	border:1px solid black;
	border-collapse:collapse;
}

#tabla td{
	width:130px;
	border:1px solid black;
}


caption{
	background:yellow;
	border:1px solid black;
}

.oscuro{
	background:silver;
}

.centrado{
	text-align:center;
}

.marcado{
	background:lightgreen;
}


	
